.nav-parent {
    display: flex;
    justify-content: center;
    align-content: center;
}

.user-info {
    width: 50px;
    display: flex;
}

.navbar-nav {
    align-items: center;
    width: 80%;
}

.navbar-nav a {
    line-height: 10px;
    color: black;
}

.username {
    padding: 14px;
    color: black;
}

.child-nav {
    margin-left: 100px;
    font-size: 20px;
}

.first-child-nav {
    margin-left: 15%
}